[BetterCommandArtifact]

## Set the amount of items shown when opening a command artifact drop. 
##  Value must be Greater Than 0.
# Setting type: Int32
# Default value: 3
itemAmount = 3

## Allow boss items to have multiple options? 
##  Ignored if Per-tier config is enabled.
# Setting type: Boolean
# Default value: false
Allow Boss = false

## Allow printers and scrappers to spawn while Command is enabled? Vanilla is false.
# Setting type: Boolean
# Default value: true
Enable Printers and Scrappers = true

## Enables the per-tier section of the config.
# Setting type: Boolean
# Default value: false
Use Per-tier Config = false

[Tier Settings]

## How many options this tier has.
# Setting type: Int32
# Default value: 3
T1 White = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
T1 White (Void) = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
T2 Green = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
T2 Green (Void) = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
T3 Red = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
T3 Red (Void) = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 1
Yellow = 1

## How many options this tier has.
# Setting type: Int32
# Default value: 1
Yellow (Void) = 1

## How many options for items that fall outside of the listed tiers.
# Setting type: Int32
# Default value: 3
Default = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
Equipment = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
Lunar = 3

## How many options this tier has.
# Setting type: Int32
# Default value: 3
Lunar Equipment = 3

