[Allow Config Options]

## Set this to true to enable config options. Please keep in mind that it was not within my design intentions to play this way. This is primarily meant for modpack users with tons of mods installed. If you have any issues or feedback on my mod balance, please feel free to send in feedback with the contact info in the README or Thunderstore description.
# Setting type: Boolean
# Default value: false
Enable Config = false

[StateOfDamage]

## Set this to TRUE if you would like to disable changes for the balance category: StateOfDamage
# Setting type: Boolean
# Default value: false
DISABLE changes? = false

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Chef Stache = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: The New Lopper = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Permafrost = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Equipment: Old Guillotine = true

[StateOfDefenseAndHealing]

## Set this to TRUE if you would like to disable changes for the balance category: StateOfDefenseAndHealing
# Setting type: Boolean
# Default value: false
DISABLE changes? = false

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Borbos Band = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Frozen Turtle Shell = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Equipment: Master Ninja Gear = true

[StateOfEconomy]

## Set this to TRUE if you would like to disable changes for the balance category: StateOfEconomy
# Setting type: Boolean
# Default value: false
DISABLE changes? = false

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Golden Gun = true

[StateOfHealth]

## Set this to TRUE if you would like to disable changes for the balance category: StateOfHealth
# Setting type: Boolean
# Default value: false
DISABLE changes? = false

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Flower Crown = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Utility Belt = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Equipment: Remarkably Stable Tesla Coil = true

[StateOfInteraction]

## Set this to TRUE if you would like to disable changes for the balance category: StateOfInteraction
# Setting type: Boolean
# Default value: false
DISABLE changes? = false

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: AtG Missile Mk. 3 = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Magic Quiver = true

## Should this item appear in runs?
# Setting type: Boolean
# Default value: true
Enable Item: Wicked Band = true

## The boss item drop changes make Aurel drop his item directly and have greens drop from the portal instead. Turn this off if you dont want that.
# Setting type: Boolean
# Default value: true
Enable boss item drop changes for Aurelionite = true

