## Settings file was created by plugin ArtificerPrimaryVfx v1.0.0
## Plugin GUID: com.Moffein.ArtificerPrimaryVfx

[Settings]

## Play a sound whenever a new stock is gained.
# Setting type: Boolean
# Default value: true
Play Sound = true

