## Settings file was created by plugin ArtificerPrimaryRework v1.0.4
## Plugin GUID: com.Moffein.ArtificerPrimaryRework

[Fire Bolt]

# Setting type: Single
# Default value: 1
Proc Coefficient = 1

[Plasma Bolt]

# Setting type: Single
# Default value: 1
Proc Coefficient = 1

