## Settings file was created by plugin RiskyMithrix v1.2.1
## Plugin GUID: com.RiskyLives.RiskyMithrix

[Dash]

# Setting type: Boolean
# Default value: true
Backwards Dash - Disable Move Speed Scaling = true

[General]

# Setting type: Boolean
# Default value: true
Stat Changes = true

## Slows and Attack Speed reduction are less effective.
# Setting type: Boolean
# Default value: true
Debuff Resistance = true

# Setting type: Boolean
# Default value: true
Fall Damage Immunity = true

## Affects how long Freeze lasts on Mithrix. Set to 0 to make him immune to Freeze, 1 to make it work like Vanilla.
# Setting type: Single
# Default value: 0.5
Freeze Resistance = 0.5

# Setting type: Boolean
# Default value: true
Prioritize Players = true

[Lunar Shards]

# Setting type: Boolean
# Default value: true
Replace Sprinting Lunar Shardswith Orbs = true

# Setting type: Boolean
# Default value: true
Replace Phase 4 Lunar Shards with Orbs = true

[Sky Leap]

# Setting type: Boolean
# Default value: true
Target Players = true

# Setting type: Boolean
# Default value: true
Flame Pillar = true

# Setting type: Int32
# Default value: 4
Flame Pillars - Phase 1 Count = 4

# Setting type: Int32
# Default value: 7
Flame Pillars - Phase 2 Count = 7

[Sprint Bash]

## Always fire projectiles during Sprint Bash.
# Setting type: Boolean
# Default value: true
Fire Projectiles Always = true

# Setting type: Boolean
# Default value: true
Fire Projectiles in Phase 2 = true

## Prevent Mithrix from launching himself into the sky.
# Setting type: Boolean
# Default value: true
Anti-Trimp = true

[Weapon Slam]

## Stop Mithrix's movement before using Slam so that he doesn't overshoot his target when moving too fast.
# Setting type: Boolean
# Default value: true
Stop Momentum = true

## Rotate towards a player before using Slam.
# Setting type: Boolean
# Default value: true
Rotate Before Use = true

# Setting type: Boolean
# Default value: true
Flame Pillars = true

# Setting type: Int32
# Default value: 3
Flame Pillars - Phase 1 Count = 3

# Setting type: Int32
# Default value: 3
Flame Pillars - Phase 2 Count = 3
