## Settings file was created by plugin MobileTurretBuff v1.1.0
## Plugin GUID: com.Moffein.MobileTurretBuff

[Mobile Turret Settings]

## Gives resistance to AOE attacks like drones.
# Setting type: Boolean
# Default value: false
01 - AOE Resistance = false

## Base health regen.
# Setting type: Single
# Default value: 2.5
02 - Base Regen = 2.5

## Health regen gain on levelup.
# Setting type: Single
# Default value: 0.5
03 - Regen per Level = 0.5

## Base amount of armor.
# Setting type: Single
# Default value: 20
04 - Base Armor = 0

## Armor gain on levelup.
# Setting type: Single
# Default value: 0
05 - Armor per Level = 0

## Base amount of damage.
# Setting type: Single
# Default value: 16
06 - Base Damage = 16

## Damage gain on levelup.
# Setting type: Single
# Default value: 3.2
07 - Damage per Level = 3.2

## How fast Mobile Turrets move.
# Setting type: Single
# Default value: 7
08 - Move Speed = 7

