## Settings file was created by plugin AssistManager v1.3.1
## Plugin GUID: com.Moffein.AssistManager

[Vanilla Tweaks]

## Add assist support for Lights Out.
# Setting type: Boolean
# Default value: true
Bandit Reset = true

## Add assist support for Desperado.
# Setting type: Boolean
# Default value: true
Bandit Desperado = true

## Add assist support to this item.
# Setting type: Boolean
# Default value: true
Brainstalks = true

## Add assist support to this item.
# Setting type: Boolean
# Default value: true
Chronic Expansion = true

## Add assist support to this item.
# Setting type: Boolean
# Default value: true
Frost Relic = true

## Add assist support to this item.
# Setting type: Boolean
# Default value: true
Hunters Harpoon = true

## Add assist support to this item.
# Setting type: Boolean
# Default value: true
Wake of Vultures = true

## Add assist support for this item.
# Setting type: Boolean
# Default value: true
Infusion = true

## Add assist support for this item.
# Setting type: Boolean
# Default value: true
Resonance Disk = true

## On-Multikill items are affected by assists.
# Setting type: Boolean
# Default value: true
Multikill = true

## Add assist support for this item.
# Setting type: Boolean
# Default value: true
Soulbound Catalyst = true

## Add assist support to this item.
# Setting type: Boolean
# Default value: true
Topaz Brooch = true

