## Settings file was created by plugin RiskyFixes v1.8.0
## Plugin GUID: com.Moffein.RiskyFixes

[Artifacts]

## Fixes blacklisted equipment being able to spawn during Enigma runs.
# Setting type: Boolean
# Default value: true
(Server-Side) Enigma Blacklist Fix = true

## Vengeance Umbras copy player levels.
# Setting type: Boolean
# Default value: true
(Server-Side) Vengeance Umbra Level = true

[Elites]

## Fixes Healing Cores not scaling with level.
# Setting type: Boolean
# Default value: true
(Server-Side) Mending Healing Core Level Scaling = true

[Enemies]

## Fixes enemy AI breaking due to negative detection range.
# Setting type: Boolean
# Default value: true
(Server-Side) Close Range Detection = true

[Enemies - Artifact Reliquary]

## Prevents Artifact Reliquary from healing and softlocking runs.
# Setting type: Boolean
# Default value: true
(Server-Side) Prevent Heal = true

[Enemies - Clay Dunestrider]

## Prevents ghosts from teamkilling you.
# Setting type: Boolean
# Default value: true
(Server-Side) Disable Ghost Friendly Fire = true

[Enemies - Grandparent]

## Prevents ghosts from teamkilling you.
# Setting type: Boolean
# Default value: true
(Server-Side) Disable Ghost Friendly Fire. = true

[Enemies - Magma Worm]

## Prevents Magma Worms from dying to fall triggers.
# Setting type: Boolean
# Default value: true
(Server-Side) Prevent Fall Death = true

[Enemies - Mithrix (Phase 4)]

## Fixes the bug where Mithrix is instakilled if he takes damage at the start of the phase.
# Setting type: Boolean
# Default value: true
(Server-Side) Prevent Phase Skip = true

[General]

## Fixes bulletattacks sometimes being able to hit yourself.
# Setting type: Boolean
# Default value: true
(Client-Side) Bullet Self-Hit Fix = true

## Fixes people sometimes having hidden names by refreshing the list on stage start.
# Setting type: Boolean
# Default value: true
(Client-Side) Hidden Names Fix = true

## Enables Prismatic Trials while modded. Runs will not count towards the Leaderboard.
# Setting type: Boolean
# Default value: true
Prismatic Trials = true

## Limits Shrine of Gold to 1 per stage.
# Setting type: Boolean
# Default value: true
(Server-Side) Shrine of Gold Spawnlimit = true

## Fixes disconnected players counting towards the playercount.
# Setting type: Boolean
# Default value: true
(Server-Side) Playercount Fix = true

## Removes the DLC advertisement from the main menu.
# Setting type: Boolean
# Default value: true
(Client-Side) Remove Main Menu Advertisement = true

## Fixes Slayer damagetype (bonus damage to low health) not affecting procs.
# Setting type: Boolean
# Default value: true
(Server-Side) Slayer Procs = true

## Small holdouts charge at full speed as long as 1 player is in the radius.
# Setting type: Boolean
# Default value: true
(Server-Side) Small Holdout Charging = true

[Items]

## Charged Perforator inherits crit instead of rerolling.
# Setting type: Boolean
# Default value: true
(Server-Side) Charged Perforator Crit Fix = true

## Fixes nullref on orb despawn.
# Setting type: Boolean
# Default value: true
(Server-Side) Elusive Antler - Fix Nullref = true

## Fixes Fin being able to boost damage multiple times in the same proc chain.
# Setting type: Boolean
# Default value: true
(Server-Side) Breaching Fin - Fix Re-Proc = true

## Prevents Focus Crystal from applying to self damage.
# Setting type: Boolean
# Default value: true
(Server-Side) Focus Crystal Self Damage = true

## Fixes a nullref related to this item.
# Setting type: Boolean
# Default value: true
(Client-Side) Longstanding Solitude Nullref Fix = true

## Fixes Safer Spaces starting with +1 stacks.
# Setting type: Boolean
# Default value: true
(Server-Side) Safer Spaces Cooldown = true

## Fixes Safer Spaces being wasted when hit while invincible.
# Setting type: Boolean
# Default value: true
(Server-Side) Safer Spaces Invuln Fix = true

## Fixes cases where Symbiotic Scorpion can proc on self damage.
# Setting type: Boolean
# Default value: true
(Server-Side) Symbiotic Scorpion Self Proc = true

## Prevents Voidsent Flame from proccing against the Newt due to the risk of crashing.
# Setting type: Boolean
# Default value: true
(Server-Side) Voidsent Flame disabled in Bazaar = true

## Fixes War Bonds persisting between stages.
# Setting type: Boolean
# Default value: true
(Server-Side) War Bonds - Reset Between Stages = true

[Minions]

## Fixes minions attempting to retaliate against their owner.
# Setting type: Boolean
# Default value: true
(Server-Side) Dont Retaliate = true

## Fixes Back-Up drones not scaling with Ambient Level.
# Setting type: Boolean
# Default value: true
(Server-Side) Equipment-Spawned Minions use Ambient Level = true

[Stages - Commencement]

## Kills Void team enemies when the bossfight starts.
# Setting type: Boolean
# Default value: true
(Server-Side) Kill Void Team = true

[Survivors - Acrid]

## Spawn protection lasts until after waking up.
# Setting type: Boolean
# Default value: true
(Server-Side) Spawn Protection = true

[Survivors - Artificer]

## Fix projectiles disappearing at midrange.
# Setting type: Boolean
# Default value: true
(Server-Side) Primary Range = true

[Survivors - Bandit]

## Knife hitbox no longer gets cancelled by other animations.
# Setting type: Boolean
# Default value: true
(Client-Side) Knife Hitbox Cancel Fix = true

## Gives Bandit primary bullets a small radius like most other bullet attacks in the game.
# Setting type: Boolean
# Default value: true
(Client-Side) Primary Shot Radius = true

[Survivors - Captain]

## Allows Orbital Skills to be used in Hidden Realms.
# Setting type: Boolean
# Default value: true
(Client-Side) Orbital Skills in Hidden Realms = true

[Survivors - CHEF]

## Fixes various aspects of Dice not scaling with attack speed.
# Setting type: Boolean
# Default value: true
Dice Attack Speed = true

[Survivors - Commando]

## Fixes Double Tap having a hidden reload state that lowers its fire rate at high attack speeds.
# Setting type: Boolean
# Default value: true
(Client-Side) Double Tap Fire Rate = true

[Survivors - False Son]

## Prevent Lunar Ruin from exponentially increasing damage in a proc chain.
# Setting type: Boolean
# Default value: true
(Server-Side) Lunar Ruin Exponential Damage Removal = true

[Survivors - Huntress]

## Fixes Flurry losing arrows at high attack speeds.
# Setting type: Boolean
# Default value: true
(Server-Side) Flurry Attack Speed Fix = true

[Survivors - Mercenary]

## Fixes Eviscerate from getting caught on allies.
# Setting type: Boolean
# Default value: true
(Client-Side) Eviscerate Targeting = true

[Survivors - MUL-T]

## Nailgun ending shotgun burst always triggers when ending the skill.
# Setting type: Boolean
# Default value: true
(Client-Side) Nailgun Burst Always Triggers = true

## Gives Nailgun shots a small radius like most other bullet attacks in the game.
# Setting type: Boolean
# Default value: true
(Client-Side) Nailgun Shot Radius = true

[Survivors - Railgunner]

## Disables self-knockback while standing still.
# Setting type: Boolean
# Default value: true
(Client-Side) Fix Bungus = true

[Survivors - REX]

## Restores the missing prep animation for DIRECTIVE: Harvest.
# Setting type: Boolean
# Default value: true
(Client-Side) DIRECTIVE: Harvest Animation = true

## (Server-Side) Fixes error spam and crashes related to the Utility skill.
# Setting type: Boolean
# Default value: true
Utility Crash Fix = true

