## Settings file was created by plugin EliteWorms v1.0.1
## Plugin GUID: com.Moffein.EliteWorms

[Settings]

## Allow Magma Worms to be elite.
# Setting type: Boolean
# Default value: true
Allow Magma Worm = true

## Allow Overloading Worms to be elite.
# Setting type: Boolean
# Default value: true
Allow Overloading Worm = true

