## Settings file was created by plugin Stadia Jungle Boss v1.1.7
## Plugin GUID: com.Moffein.StadiaJungleBoss

[Magma Worm]

## Modify the Mending Magma Worm spawned by this mod, replacing its name and some other stuff.
# Setting type: Boolean
# Default value: true
Enable Changes = true

