## Settings file was created by plugin EnemiesReturns v0.6.6
## Plugin GUID: com.Viliger.EnemiesReturns

[Config]

## Use config file for storring config. Each enemy gets their own config file. Due to mod being currently unfinished and unbalanced, we deploy rapid changes to values. So this way we can still have configs, but without the issue of people having those values saved.
# Setting type: Boolean
# Default value: false
Use Config File = false

[Judgement]

## Automatically skips Judgement cutscene. Sadly currently there is no way to skip it and it crashes the game if you quit during it, so if you don't want to see it after a few runs enable this value.
# Setting type: Boolean
# Default value: false
Skip Judgement Cutscene = false

[Party Time]

## By default party is only thrown on 8th of August. You can disable it or throw party all year long.
# Setting type: PartyTime
# Default value: Default
# Acceptable values: None, Default, AllYear
Party Duration = Default

