## Settings file was created by plugin LinearDamage v1.0.2
## Plugin GUID: com.RiskyLives.LinearDamage

[Items]

## Enable Changes
# Setting type: Boolean
# Default value: true
AP Rounds = true

## Enable Changes
# Setting type: Boolean
# Default value: true
Chronic Expansion = true

## Enable Changes
# Setting type: Boolean
# Default value: true
Death Mark = true

## Enable Changes
# Setting type: Boolean
# Default value: true
Delicate Watch = true

## Enable Changes
# Setting type: Boolean
# Default value: true
Focus Crystal = true

## Enable Changes
# Setting type: Boolean
# Default value: true
Mercurial Rachis = true

