## Settings file was created by plugin QoLChests v1.2.1
## Plugin GUID: Faust.QoLChests

[Hide]

## Hides empty chests after a few seconds
# Setting type: Boolean
# Default value: true
Chest = true

## Hides used shops after a few seconds
# Setting type: Boolean
# Default value: true
Shops = true

## Time before stuff is hidden
# Setting type: Single
# Default value: 1
Time = 1

## Fade instead of hiding
# Setting type: Boolean
# Default value: false
Fade = false

[Highlight]

## Remove highlight when used
# Setting type: Boolean
# Default value: false
RemoveWhenUsed = false

## Highlight Chests (Chests, Barrels etc.)
# Setting type: Boolean
# Default value: true
Chest = false

## Highlight stealthed chests
# Setting type: Boolean
# Default value: true
Stealthed Chests = false

## Highlight Duplicators
# Setting type: Boolean
# Default value: true
Duplicator = false

## Highlight Scrappers
# Setting type: Boolean
# Default value: true
Scrapper = false

## Highlight Shops
# Setting type: Boolean
# Default value: true
Shops = false

## Highlight Drones
# Setting type: Boolean
# Default value: true
Drones = false

## Highlight Turrets
# Setting type: Boolean
# Default value: true
Turrets = false

## Highlight color for interactables (Only used for backwards compatibility)
# Setting type: ConfigHighlightColor
# Default value: Yellow
# Acceptable values: Yellow, Red, Blue, Pink, Orange, Green, Cyan, Violet, Magenta, Gray, White
Color = Yellow

## Highlight color for chests
# Setting type: ConfigHighlightColor
# Default value: Yellow
# Acceptable values: Yellow, Red, Blue, Pink, Orange, Green, Cyan, Violet, Magenta, Gray, White
ChestColor = Yellow

## Highlight color for shops
# Setting type: ConfigHighlightColor
# Default value: Yellow
# Acceptable values: Yellow, Red, Blue, Pink, Orange, Green, Cyan, Violet, Magenta, Gray, White
ShopColor = Yellow

## Highlight color for scrappers
# Setting type: ConfigHighlightColor
# Default value: Yellow
# Acceptable values: Yellow, Red, Blue, Pink, Orange, Green, Cyan, Violet, Magenta, Gray, White
ScrapperColor = Yellow

## Highlight color for duplicators
# Setting type: ConfigHighlightColor
# Default value: Yellow
# Acceptable values: Yellow, Red, Blue, Pink, Orange, Green, Cyan, Violet, Magenta, Gray, White
DuplicatorColor = Yellow

## Highlight color for drones
# Setting type: ConfigHighlightColor
# Default value: Yellow
# Acceptable values: Yellow, Red, Blue, Pink, Orange, Green, Cyan, Violet, Magenta, Gray, White
DronesColor = Yellow

## Highlight color for turrets
# Setting type: ConfigHighlightColor
# Default value: Yellow
# Acceptable values: Yellow, Red, Blue, Pink, Orange, Green, Cyan, Violet, Magenta, Gray, White
TurretsColor = Yellow

