## Settings file was created by plugin SimpleLunarCoins v1.2.5
## Plugin GUID: Miyowi.SimpleLunarCoins

[Lunar Coin Adjustments]

## Chance for first lunar coin to be dropped.
# Setting type: Single
# Default value: 0.5
Initial Coin Chance = 2

## Value that chance is multiplied by after a coin is dropped.
# Setting type: Single
# Default value: 0.5
Coin Chance Multiplier = 0.8

## Coins that each player has at the start of a run, if 'Reset Coins Each Run' is enabled.
# Setting type: Int32
# Default value: 5
Starting Coins = 0

## All allies receive a lunar coin when one is dropped.
# Setting type: Boolean
# Default value: true
Distribute Coins = true

## Enemies emit a lunar coin effect instead of the regular droplet that is manually picked up.
# Setting type: Boolean
# Default value: true
No Coin Droplets = true

## Lunar coins are reset at the start of a run to the value determined by 'Starting Coins'.
# Setting type: Boolean
# Default value: false
Reset Coins Each Run = true

