[Chat Messages]

## Death Messages telling you who died to what and in what way.
# Setting type: Boolean
# Default value: true
Detailed Death Messages = true

## When someone Prints, Reforges or Cleanses a message will be sent
# Setting type: Boolean
# Default value: true
Printing Message = true

## When someone Scraps, a message will be sent
# Setting type: Boolean
# Default value: true
Scrapping Message = true

## Victory and Vanish quote will be put into chat.
# Setting type: Boolean
# Default value: true
Victory Messages = true

## Chat message when Egocentrism, Benthic Bloom or VanillaVoids Enhancement Vials upgrades a item.
# Setting type: Boolean
# Default value: true
Benthic & Ego Transform = true

## Message for when someone dies and revives using an item.
## 
## With more ways to revive, might be good to know when it's because of an item.
# Setting type: Boolean
# Default value: true
Revive Messages = true

## Message to show when and on what someone used their Sale Stars on.
# Setting type: Boolean
# Default value: true
Sale Star Message = true

## Chat message for when you use Elixir, lose Watches, lose random item with VanillaVoids Clockwork Mechanism
# Setting type: MessageWho
# Default value: Anybody
# Acceptable values: Off, You, Anybody
Elixir & Watch lost = Anybody

## When an item is Recycled by anyone, a message will be displayed saying what turned into what.
# Setting type: Boolean
# Default value: true
Recycler Message = true

## When picking up a item or void, it will add up the quantities of the normal and void together in the message.
## ie if you pickup a Bear with Safer Spaces itll show Tougher Times(2) in a void color
# Setting type: Boolean
# Default value: true
Void Quantity = true

## Chat message for when Shrine of Shaping is activated.
# Setting type: Boolean
# Default value: true
Shaping Activated = true

[Hud]

## Void Fields : Indicator where the next Cell is.
## 
## Commencement : Lunar Pillar locations shown briefly after charging one.
## 
## Gilded Coast : Location of last 3 Halcyon Beacon
# Setting type: Boolean
# Default value: true
Mission Pointers = true

## Should this mod replace the Sprint crosshair with a different one that works with charging abilities.
# Setting type: Boolean
# Default value: true
Sprinting Crosshair Changes = true

## Most notable I guess Red Whip buff is now Orange instead of Blue, which is now only for the Invisibility speed buff
# Setting type: Boolean
# Default value: true
Buff Recolors = true

## When you have the discover teleporter icon setting on. Makes the icon light red at first and only white when charged.
# Setting type: Boolean
# Default value: true
Teleporter Icon Discovered Color Red = true

## Enable new Ping Icons
# Setting type: Boolean
# Default value: true
Enable new Ping Icons = true

## Add new or updated Body Icons
##  Engi Walker Turrets, Empathy Cores and blue outline Squid Turret & Devoted Lemurians
# Setting type: Boolean
# Default value: true
More unique Body Icons = true

## Vanilla is 32. 
## How much space between objectives in the hud. Can look better or worse depending on language.
# Setting type: Single
# Default value: 30
Hud Objective Spacing = 30

## Vanilla is 12. 
## Size of letters for objectives in the hud. Can look better or worse depending on language.
# Setting type: Single
# Default value: 12
Hud Objective Font Size = 12

## Change the Elite Icons of SotS elites to be more in line with the other elites.  These sprites are in the files. it is unknown why they were replaced.
# Setting type: Boolean
# Default value: false
SotS Elite Icon change = false

LookingGlass Preset = Set

[Menu]

## During Simulacrum Lobbies, Characters you have beaten Wave 50 with will have a pink border around their icon.
# Setting type: Boolean
# Default value: true
Simulacrum Completed Border = true

## During Eclipse Lobbies, Show what eclipse was beaten as number under each character.
# Setting type: Boolean
# Default value: true
Eclipse Number = true

## Add some missing mobs and equipment to the log.
## 
## Twisted Scav, Geep, Gip, Malachite Urchin, Fuel Array, Consumed Seed of Life, Consumed Tricorn
# Setting type: Boolean
# Default value: true
Log | More Entries = true

## Add Simulacrum stages to log. Unlocked if beaten once.
# Setting type: Boolean
# Default value: true
Log | Simu Stages = true

## Add Elite Aspect Equipment to the logbook.
# Setting type: Boolean
# Default value: true
Log | Elite Aspects = true

## Elite Aspects will be viewable without the need to be picked up first. Instead based on progression such as having Beaten the game on Monsoon.
# Setting type: Boolean
# Default value: true
Elite Aspect viewable without pickup = true

## Sort Bosses to the end of the Monster category
# Setting type: Boolean
# Default value: true
Log | Sort Bosses = true

## Players skill loadouts will be shown, for sharing and inspecting.
# Setting type: Position
# Default value: Top
# Acceptable values: Off, Top, Bottom
Death Screen | Loadout = Top

## Add various custom stats and make some more vanilla stats viewable.
# Setting type: Boolean
# Default value: true
Death Screen | More Stats = true

## Combine most stats into 2 per column and hide the score. Score per stat will be shown by hovering over it.
# Setting type: Boolean
# Default value: true
Death Screen | Compact Stats = true

## Show the Killers Inventory, if he had any items.
## If no killer was found, tries to display Items from Artifact of Evolution & Simulacrum
# Setting type: Boolean
# Default value: true
Death Screen | Killer Inventory = true

## Show stages traversed during run.
## Useful for sharing if you went through various alt paths or did optional things like Void Fields
## 
## Inspired by Spelunky 2
# Setting type: Boolean
# Default value: true
Death Screen | Stage Recap = true

## Show latest Simu Wave
# Setting type: Boolean
# Default value: true
Death Screen | Latest Wave = true

## Show the killers inventory even if they only have a Elite Equipment and no items.
# Setting type: Boolean
# Default value: false
Death Screen | Killer Elite Equip = false

## Should the Main Menu change between themes.
## If Starstorm is enabled, it's Storm Visuals are also sometimes disabled
# Setting type: Boolean
# Default value: true
Main Menu Colors = true

## Specifically select a main menu color :
## 0 : Default or Random depending on other config 
## 1 : Acres update
## 2 : Sirens update
## 3 : Void Fields update
## 4 : Artifact update
## 11, 12, 13, 14 : Same but force off SS2 Storm
# Setting type: Int32
# Default value: 0
Main Menu Selector = 0

## Should a Scav be readded to the options screen like in a old version of the game, and a Gup added to the alternative game modes screen.
# Setting type: Boolean
# Default value: true
Main Menu Scav = true

[Other]

## Minor quality of life for gameplay. Most will not be in this mod.
## 
## Enables Prismatic Trials
## Allows changing Primoridal Teleporter after TP event.
# Setting type: Boolean
# Default value: true
Gameplay QoL = true

## Using midair jump unlocks air movement if locked by Geyser. Such as Hopoo Feather
# Setting type: Boolean
# Default value: true
Regain Air Control from Jumping = true

## Using utility skills unlocks air movement if locked by Geyser.
# Setting type: Boolean
# Default value: true
Regain Air Control from Skills = true

## Items will teleport if they fall of the map.
# Setting type: Boolean
# Default value: true
Fallen Items Teleport = true

## I just think she's a nice Decoration and REX is always there.
# Setting type: Boolean
# Default value: false
Artificer Always in Bazaar = true

## Teleporter objective has blue text when it is a primordial teleporter.
# Setting type: Boolean
# Default value: false
Primordial | Blue objective = false

## Charging icon will be blue instead of red.
# Setting type: Boolean
# Default value: false
Primordial | Blue Charge Icon = false

## Interactable highlight will be blue instead of red.
# Setting type: Boolean
# Default value: false
Primordial | Blue Highlight = false

## Should Artifact Pickups in the Artifact World have a purple (Artifact Color) outline.
# Setting type: Boolean
# Default value: false
Artifact Outline = false

[Reminders]

## Turn off all extra objective reminders by the mod. Use individual config if you only want to turn off one part.
# Setting type: Boolean
# Default value: true
Objective Reminders : General = true

## Reminder to open your Rusted & Encrusted Key lockboxes on stages where they spawn.
# Setting type: Boolean
# Default value: true
Rusted Keys = true

## Reminder to get your free item from Shipping Request Form.
# Setting type: Boolean
# Default value: true
Shipping Request = true

## Reminder to use your Regenerating Scrap if you have one. Can choose to only be reminded if a Green Printer has spawned.
# Setting type: ReminderChoice
# Default value: IfSpawned
# Acceptable values: Off, IfSpawned, Always
Regen Scrap = IfSpawned

## Reminder, that you have Sale Star, so you hopefully do not waste it.
# Setting type: Boolean
# Default value: true
Sale Star = true

## Reminder for open portals in case you forget and to match the leave through teleporter message. Like Blue/Gold/Green.
# Setting type: Boolean
# Default value: true
Portals = true

## Cracking the 6 Aurelionite Geodes while climbing Prime Meridian gives an extra reward. This is to remind you to do that.
# Setting type: Boolean
# Default value: true
Meridian Geode Secret = true

## To match other waiting sections in the game.
# Setting type: Boolean
# Default value: true
Charging Halcyon Shrines = true

## If you, really need to got the Bazaar.
## Auto clears if Teleporter spawns with a free blue orb.
# Setting type: ReminderChoice
# Default value: Off
# Acceptable values: Off, IfSpawned, Always
Newt Shrine = Off

[Skins]

## To fit better with his Red skin.
## Red effects are part of Server mod
# Setting type: Boolean
# Default value: true
Oni Merc Red Sword = true

## Replace blue effects with red effects for Oni Merc / Mastery Skin
# Setting type: Boolean
# Default value: true
Oni Merc | Red effects = true

## Replace blue effects with green effects for Frail Merc / Colossus Skin
# Setting type: Boolean
# Default value: true
Frail Merc | Green effects = true

## Attacks that apply blight are colored Purple/Orange instead of Green/Yellow. Includes a variant of the default skin.
# Setting type: Boolean
# Default value: true
Blight Acrid effects = true

## Simple recolor where instead of green it's more yellow-orange
# Setting type: Boolean
# Default value: false
Default Acrid Blight Recolor = false

## His other projectiles are skinned but not harpoons.
# Setting type: Boolean
# Default value: true
Skinned Engi Harpoons = true

## REX uses colored vines when moving
## Fixes Alt Engi turrets looking wrong
## MulT power mode cylinders will be skinned
## Loader m2 hand will be skinned
# Setting type: Boolean
# Default value: true
Smaller Skin Fixes = true

## Makes the armor on the skin smooth instead of battered
# Setting type: Boolean
# Default value: false
Colossus Captain Smooth = false

[Testing]

## Disables the mod beyond allowing multiplayer testing.
# Setting type: Boolean
# Default value: false
Disable Mod = false

## Client work arounds wont get removed if host has mod.
# Setting type: Boolean
# Default value: false
Client Test = false

## Host methods will be disabled
# Setting type: Boolean
# Default value: false
Disable Host Info = false

## Mod will not load the next time.
# Setting type: Boolean
# Default value: false
Disable mod next time = false

[Text]

## Include Stage Name in Ping and Interact info.
# Setting type: Boolean
# Default value: true
Lunar Seer include Stage Name = true

## Show the equipment a Equipment Drone is holding in its name.
# Setting type: ColorOrNot
# Default value: White
# Acceptable values: Off, White, Colored
Equipment Name Equipment Drone = White

## When pinged, the items inside will be in the ping message. Requested for more easy sharing in Simulacrum
# Setting type: Boolean
# Default value: true
Void Potential contents in Ping = true

## When pinged, the items inside will be in the ping message.
# Setting type: Boolean
# Default value: true
Aurelionite Fragment contents in Ping = true

## When pinging a player or ally, it will be blue and friendly instead of attack:
# Setting type: Boolean
# Default value: true
Player Ping = true

## When pinging an item or something containing an item, the items name will use it's color.
# Setting type: Boolean
# Default value: true
Colored Item names in Pings = true

## Adds a different name token for some interactables or endings that reuse them
## 
## Large 3D Printers
## Large Multishops
## Equipment Multishops
## Shipping Request Multishop
## Moment Whole ending
## Void ending
# Setting type: Boolean
# Default value: true
Other Text Changes = true

[Visuals]

## Change Helminths lighting to be considerably brighter and to what is seemingly intended.
## 
## This happens because the lighting is set to a too low priority and/or gets improperly loaded.
# Setting type: Boolean
# Default value: true
Brighter Helminth Hatchery = true

## Lessens the darkness of shadows in Scorched Acres, Sundered Grove and Abyssal Depths, increasing general visibility.
# Setting type: Boolean
# Default value: true
Brighter Shadows = true

## One icon per mountain shrine activated.
# Setting type: Boolean
# Default value: true
Mountain Shrine Stack = true

## Implement the unused SotV Sulfur Pools skin for the Beetle family
# Setting type: Boolean
# Default value: true
Sulfur Pool Beetles Skin = true

## Their balls use the elite aspects texture.
# Setting type: Boolean
# Default value: true
Elite Brass Contraption Balls = true

## Change the colors of Lunar/Elite equipment to a different blue/yellow
## Lunar Coins will use the Lunar Coin color instead of Lunar Item
## Void White will be slightly lighter
## Void Red slightly more saturated.
# Setting type: Boolean
# Default value: true
Item & Equipment Outline Color Changes = true

## Should Aurelionite Fragments have a gold outline like it's sprite.
# Setting type: Boolean
# Default value: true
Fragment Gold Outline = true

## Abyssal Depths will have lava-like instead of water
## Sulfur Pools will have greener Geysers
# Setting type: Boolean
# Default value: true
Change Geyser colors = true

## Change the model of Green and Red Printers to the bigger bulkier one used before 1.0.
## Uncommon 3D printers are the only interactable that looks exactly the same as a different one.
# Setting type: Boolean
# Default value: true
Large and Mili Printer Old Model = true

## Void Allies from Newly Hatched Zoea will have bright Cyan eyes for easier identification.
# Setting type: Boolean
# Default value: true
Void Ally Cyan Eyes = true

## Readds the lunar fire visual effect that twisted elites once had.
# Setting type: Boolean
# Default value: true
Fire Twisted Elites = true

## Gives Twisted Elites a dark blue coloration instead of reusing Overloading.
# Setting type: Boolean
# Default value: true
Dark Twisted Elites = true

Enable Color Changes = true

