[Gameplay]

## This bug happens because SetStateOnHurt consider Mithrixes health 0 for 1 frame and staggers him.
## 
## Off by default due to feedback.
# Setting type: Boolean
# Default value: false
Fix Mithrix P4 Skip = false

## AIBlacklist Nkuhanas Opinion and Infusion.
## Moves around certain categories on items.
## Bug fixes like Harpoon not being tagged as OnKill still happen even if turned of
# Setting type: Boolean
# Default value: true
Item Tag Changes = true

## Add the Devotion Tag to Devoted Lemurians which will make them work with Spare Drone Parts.
## 
## This is a intended synergy, they just put in the wrong Lemurian.
# Setting type: Boolean
# Default value: true
Devotion Tag = true

Fix Ice Spear Physics = true

Fix XI Laser = true

Slayer scales Procs = false

[Main]

## Disable all changes except things needed for mod compatibility and debugging tools
# Setting type: Boolean
# Default value: false
Disable everything except needed = false

## Updated and fixed descriptions for items. Disable if other mods change stats or items.
# Setting type: Boolean
# Default value: true
Fixed Item Descriptions = true

## Updated and fixed descriptions for character. Disable if other mods change stats or items.
# Setting type: Boolean
# Default value: true
Fixed Survivor Descriptions = true

[Testing]

## Add all items, equipments and mobs to logbook, including untiered and cut.
# Setting type: Boolean
# Default value: false
Everything Logbook = false

## Allows you to join yourself via connect localhost:7777
# Setting type: Boolean
# Default value: false
Multiplayer Test = false

## Log prints when certain events happen
# Setting type: Boolean
# Default value: false
Debugging = false

