[Buffs]

## Should various buffs added by mod, (Rose Buckler, Head Stomper, Frost Relic) count for Growth Nectar.
# Setting type: Boolean
# Default value: false
Mod Buffs affect Nectar = false

## Icon for; 1 Stack per 0.5s of being frozen, to help visualize how long things are frozen for.
# Setting type: Boolean
# Default value: true
Frozen = true

## Icon for; Extra jumps granted by Hopoo Feathers, to know how many jumps you have left, useful especially if you have a lot of them.
## Also works for VanillaVoids : Quill
# Setting type: Boolean
# Default value: true
Hopoo Feathers = true

## Icon for; Shield and Opal being on cooldown. This does not come in stacks, so a mod that adds visual buff timers is recommended.
# Setting type: Boolean
# Default value: true
Shield & Opal Cooldown = true

## Ready and Cooldown buff, like Bands or other items.
# Setting type: Boolean
# Default value: true
Headstomper = true

## Icon for; Frost Relic kill stacks.
# Setting type: Boolean
# Default value: true
Frost Relic = true

## Icon for; Being in Strides of Heresy. Duration not visible by default
# Setting type: Boolean
# Default value: true
Strides of Heresy = true

## Icon for; Rose Buckler being active. Weeping Fungus has a buff, why not this.
# Setting type: Boolean
# Default value: true
Rose Buckler = true

## Duration not visible by default, but will tell you when you start descending.
# Setting type: Boolean
# Default value: true
Milky Chrysalis = true

[Extra Icons]

## Just like how Dio leaves a Consumed Dio
# Setting type: Boolean
# Default value: true
Consumed Rusted Keys = true

## This should tell you how many stats a player got from their Prayer Beads.
# Setting type: Boolean
# Default value: true
Consumed Prayer Beads = true

