[Config]

## They are counted as 2 stages due to the 2 variants, so they essentially have double the weight.
# Setting type: Single
# Default value: 0.75
Plains Roost weight = 0.75

## SotV replaced various enemies with new enemies.
## This feature was removed in the new spawn pool system.
# Setting type: Boolean
# Default value: true
SotV enemy removals = true

## SotV replaced Magma Worms on Sky Meadows with XI Construct. 
# Setting type: Boolean
# Default value: false
SotV Meadows Worm removal = false

## You can get PreLoop variants of stages that have loop variants as Lunar Seer Destinations.
## Vanilla : True
## This was confirmed a funny quirk so it probably wont be removed.
## But it looks like a bug so this removes it
# Setting type: Boolean
# Default value: true
Remove Pre Loop Destination from Seers during loops = true

