[Compatibility]

## Disable certain changes that may conflict with Inferno.
# Setting type: Boolean
# Default value: true
Inferno Compatibility = true

[Mithrix]

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Mithrix always tries to prioritize targeting players when possible. May result in him completely ignoring Engi Turrets.
# Setting type: Boolean
# Default value: true
Prioritize Players = true

## Mithrix cannot be frozen.
# Setting type: Boolean
# Default value: false
Freeze Immunity = false

[Monsters]

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Jellyfish = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Imp = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Hermit Crab = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Lemurian = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Mini Mushrum = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Bighorn Bison = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Greater Wisp = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Parent = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Lunar Exploder = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Lunar Wisp = true

## Changes the Lunar Wisp attack from hitscan to projectile.
# Setting type: Boolean
# Default value: true
Lunar Wisp - Remove Hitscan = true

## Prevents on-kill effects from proccing when this monster's projectiles are shot down.
# Setting type: Boolean
# Default value: true
Lunar Wisp - Disable Projectile On-Kill Effects = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Stone Titan = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Beetle Queen = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Wandering Vagrant = true

## Prevents on-kill effects from proccing when this monster's projectiles are shot down.
# Setting type: Boolean
# Default value: true
Wandering Vagrant - Disable Projectile On-Kill Effects = true

## Prevents on-kill effects from proccing when this monster's projectiles are shot down.
# Setting type: Boolean
# Default value: true
Grovetender - Disable Projectile On-Kill Effects = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Solus Control Unit = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Magma/Overloading Worm = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Aurelionite = true

## Modify stats. (Separate from Aurelionite option)
# Setting type: Boolean
# Default value: true
Aurelionite Stats = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Alloy Worship Unit = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Blind Pest = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Xi Construct = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Void Infestor = true

## Void Infestors can't possess allies.
# Setting type: Boolean
# Default value: true
Void Infestor - No Ally Infestation = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Void Reaver = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Child = true

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Scorch Wurm = true

[Voidling]

## Enable changes to this monster.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Reduces Voidling HP.
# Setting type: Boolean
# Default value: true
Reduce HP = true

## This monster always tries to prioritize targeting players when possible.
# Setting type: Boolean
# Default value: true
Prioritize Players = true

