[General]

## Restores SotV enemy replacements.
# Setting type: Boolean
# Default value: true
Fix DLC Enemy Replacements (Breaks spawnpools without SotV) = true

[Stage 1]

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Titanic Plains = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Distant Roost = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Siphoned Forest = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Verdant Falls = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Disturbed Impact = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Viscous Falls = true

[Stage 2]

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Wetland Aspect = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Abandoned Aqueduct = true

[Stage 4]

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Abyssal Depths = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Stadia Jungle = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Sirens Call = true

[Stage 5]

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Sky Meadow = true

## Enable spawnpool changes on this stage.
# Setting type: Boolean
# Default value: true
Helminth Hatchery = true

