[00. Core Modules]

## Enable drone and ally changes.
# Setting type: Boolean
# Default value: true
Ally Changes = true

## Enable item changes.
# Setting type: Boolean
# Default value: true
Item Changes = true

## Enable survivor changes.
# Setting type: Boolean
# Default value: true
Survivor Changes = true

## Enable enemy changes.
# Setting type: Boolean
# Default value: true
Monster Changes = true

## Enable spawnpool changes.
# Setting type: Boolean
# Default value: true
Spawnpool Changes = true

## Enable Moon changes.
# Setting type: Boolean
# Default value: true
Moon Changes = true

## Enable Void Locus changes.
# Setting type: Boolean
# Default value: true
Void Locus Changes = true

## Enable Void Fields changes.
# Setting type: Boolean
# Default value: true
Void Fields Changes = true

[01. Game Mechanics]

## Remove the proc coefficient on most item effects.
# Setting type: Boolean
# Default value: true
Disable Proc Chains = true

## Shields gate against HP damage.
# Setting type: Boolean
# Default value: false
Shield Gating = false

## Shield Gating is disabled if Guardians Heart from ClassicItemsReturns is enabled.
# Setting type: Boolean
# Default value: true
Shield Gating - Disable if Guardians Heart is Loaded = true

## Makes OSP work against multihits.
# Setting type: Boolean
# Default value: true
True OSP = true

## Adds extra items to the AI Blacklist by default.
# Setting type: Boolean
# Default value: true
Expanded AI Blacklist = true

## Teleporter expands to cover the whole map when the boss is killed.
# Setting type: Boolean
# Default value: true
Tele Expand on Boss Kill = true

## Enables teleporter expansion when playing on Eclipse 2+.
# Setting type: Boolean
# Default value: false
Tele Expand on Boss Kill - Enable During Eclispe = false

## Holdout size is increased in lobbies with 5+ players.
# Setting type: Boolean
# Default value: true
Tele Large Lobby Scaling = true

## Increases teleporter charge duration from 90s to 120s like RoR1.
# Setting type: Boolean
# Default value: false
Tele Charge Duration Increase = false

[02. Run Scaling]

## Multiply Combat Director credits by this amount. Set to 1 to disable
# Setting type: Single
# Default value: 1.4
Combat Director Credit Multiplier = 1.4

## Lowers gold earn rate scaling. Mainly makes a difference when looping.
# Setting type: Boolean
# Default value: true
Gold Scaling Tweaks = true

## Proportionally lowers gold scaling by Combat Director Credit Multipier.
# Setting type: Boolean
# Default value: true
Gold Scaling Tweaks - Scale to Director Multiplier = true

## Enable the above setting on Stage 1.
# Setting type: Boolean
# Default value: false
Gold Scaling Tweaks - Scale to Director Multiplier - Stage 1 = false

## Lowers the effect of playercount on difficulty scaling. Geared towards large lobbies.
# Setting type: Boolean
# Default value: true
Scaling: Modded Scaling = true

## Makes difficulty scaling linear like in RoR1. Requires Modded Scaling to be enabled.
# Setting type: Boolean
# Default value: false
Scaling: Linear Scaling = false

## Linear Scaling swaps to exponential scaling when it gets outscaled.
# Setting type: Boolean
# Default value: false
Scaling: Linear Scaling - Swap to Exponential Lategame = false

## Teleporter Boss director credits increase by 1 Mountain Shrine every loop.
# Setting type: Boolean
# Default value: true
Loop Teleporter Boss Credits = true

[03. Interactables]

## Limit how many Void Seeds can spawn on 1 stage. Vanilla is 3. Set to negative for no limit.
# Setting type: Int32
# Default value: 1
Max Void Seeds = 1

## Increases Max Void Seeds per loop by 1 until this number is reached. Set to negative for no limit.
# Setting type: Int32
# Default value: 2
Per-Loop Max Extra Void Seeds = 2

[04. Allies]

## Normalize drone damage stats so that they perform the same when using Spare Drone Parts.
# Setting type: Boolean
# Default value: true
Normalize Drone Damage = true

## Allies are immune to being executed by Freeze and similar effects.
# Setting type: Boolean
# Default value: true
No Execute = true

## Allies are immune to Void implosions.
# Setting type: Boolean
# Default value: true
No Void Death = true

## Allies are immune to physics damage.
# Setting type: Boolean
# Default value: true
No Splat Death = true

## Allies take no damage from Void fog.
# Setting type: Boolean
# Default value: true
No Void Damage = true

## Allies are immune to Grandparent Overheat.
# Setting type: Boolean
# Default value: true
No Overheat = true

## Allies take less damage from superattacks like Vagrant Novas.
# Setting type: Boolean
# Default value: true
Superattack Resistance = true

## Allies take less damage from Mushrums gas and Lunar Exploder fire.
# Setting type: Boolean
# Default value: true
Damage Zone Resistance = true

## Queens Gland Guards will not fight back if hurt by their owners.
# Setting type: Boolean
# Default value: true
Queens Gland Guards Dont Retaliate = true

## TC280s can be repaired after being destroyed.
# Setting type: Boolean
# Default value: true
TC280 - Enable Repairs = true

## Gunner Turrets can be repaired after being destroyed.
# Setting type: Boolean
# Default value: true
Gunner Turret - Enable Repairs = true

## Gunner Turrets are teleported to the player when starting the Teleporter event.
# Setting type: Boolean
# Default value: true
Gunner Turret - Teleport with Player = true

## Gunner Turrets are teleported to the player when fighting Mithrix. Requires Teleport with Player.
# Setting type: Boolean
# Default value: true
Gunner Turret - Teleport with Player - Teleport to Mithrix = true

## Repairing drones is cheaper.
# Setting type: Boolean
# Default value: true
Cheaper Drone Repairs = true

## Ally HP and Damage scales so that they always perform the same on every stage.
# Setting type: Boolean
# Default value: false
Scaling Changes = false

## Most allies regen to full HP in a fixed amount of time.
# Setting type: Boolean
# Default value: true
Regen Changes = true

## Scale regen with DroneMeld stacks (or any mod that modifies minion HP or lets them gain items).
# Setting type: Boolean
# Default value: false
Regen Changes - DroneMeld Mod Compatibility = false

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Chill Drone = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Qb Drone = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Gradius Mod = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Starstorm 2 = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Spikestrip = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Tinkers Satchel = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - MoreDrones = true

[05. Artifacts]

## Increases drop chance when not using Swarms and prevents drop chance from increasing as the run progresses.
# Setting type: Boolean
# Default value: true
Sacrifice - No Drop Chance Scaling = true

[06. Void Fields]

## Increase radius of holdout zone.
# Setting type: Boolean
# Default value: true
Larger Holdout Zone = true

## Reduces Cell count from 9 to 5 and speed up enemy progression.
# Setting type: Boolean
# Default value: true
Less Cells = true

[07. Moon]

## Increase radius of holdout zone.
# Setting type: Boolean
# Default value: true
Larger Holdout Zone = true

## Reduce the amount of pillars required to activate the jump pads.
# Setting type: Boolean
# Default value: true
Reduce Pillar Count = true

[08. Void Locus]

## Removes Void Fog from the map.
# Setting type: Boolean
# Default value: false
Remove Fog = true

## Increase radius of holdout zone.
# Setting type: Boolean
# Default value: true
Larger Holdout Zone = true

[99. Misc Tweaks]

## Homing projectiles target based on angle, instead of distance + angle.
# Setting type: Boolean
# Default value: true
Better Projectile Homing = true

## Freeze counts as a debuff and can execute bosses at 15% HP.
# Setting type: Boolean
# Default value: true
Freeze Executes Bosses = true

## Freeze execute threshold is reduced to 15% globally. Requires Freeze Executes Bosses.
# Setting type: Boolean
# Default value: false
Freeze Executes Bosses - Nerf Freeze Globally = false

## Replaces Voidtouched Collapse with Nullify.
# Setting type: Boolean
# Default value: true
Nerf Voidtouched = true

## Gives players health regen + armor when playing as monsters via mods.
# Setting type: Boolean
# Default value: true
Player-Controlled Monster Tweaks = true

## Void Reaver Nullify only takes 2 stacks to apply.
# Setting type: Boolean
# Default value: true
Nullify Buff = true

