[Survivors: Acrid]

## Enable changes to this survivor. Skill options unavailable due to all the changes being too interlinked.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Acrid's Shift skills have a larger collision hitbox. Damage radius remains the same.
# Setting type: Boolean
# Default value: true
Extend Leap Collision Box = true

## Acrid's Shift skills gain increased air control at high move speeds (causes momentum loss).
# Setting type: Boolean
# Default value: false
Leap Air Control = false

## Acrid's Shift skills knock airborne enemies downwards.
# Setting type: Boolean
# Default value: true
Leap Knockdown = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Frenzied Leap Changes = true

## Buffs proc coefficient of Acid Puddles.
# Setting type: Boolean
# Default value: true
Acid Puddle Buff = true

## Enables the Contagion passive skill.
# Setting type: Boolean
# Default value: true
Contagion Passive Skill = true

[Survivors: Artificer]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Fire Bolt Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Plasma Bolt Changes = true

## Removes projectile drop from Nanobomb so it behaves like it did in Early Access.
# Setting type: Boolean
# Default value: false
Nanobomb - Remove Gravity = false

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Nanospear Changes = true

## Moves Ion Surge to the Utility slot.
# Setting type: Boolean
# Default value: false
Ion Surge - Move to Utility Slot = false

## If Ion Surge Utility is enabled, keep the Special version as a selectable skill.
# Setting type: Boolean
# Default value: false
Ion Surge - Move to Utility Slot - Keep Special = false

## Ion Surge shocks enemies.
# Setting type: Boolean
# Default value: true
Ion Surge - Shock = true

## (Client-Side) Snapfreeze Rework and Blaze Storm apply self-knockback when used midair.
# Setting type: Boolean
# Default value: false
Utility Self Knockback = false

## Snapfreeze can target midair enemies.
# Setting type: Boolean
# Default value: true
Snapfreeze Rework = true

## Snapfreeze blocks ranged attacks from enemies.
# Setting type: Boolean
# Default value: true
Snapfreeze Defense = true

## Enables this custom skill.
# Setting type: Boolean
# Default value: false
Blaze Storm Utility Skill = false

## (Client-Side) Sprinting cancels Flamethrower.
# Setting type: Boolean
# Default value: true
Flamethrower - Sprint Cancel = true

## Increases the range of flamethrower.
# Setting type: Boolean
# Default value: true
Flamethrower - Increase Range = true

## Enables this custom skill. May be buggy.
# Setting type: Boolean
# Default value: false
Electrocute Special Skill = false

[Survivors: Bandit]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Enable base stat changes for this survivor.
# Setting type: Boolean
# Default value: true
Modify Base Stats = true

## Desperado stacks are weaker but last between stages.
# Setting type: Boolean
# Default value: false
Desperado Persist = false

## Revolver damage multiplier per Desperado stack if Desperado Persist is enabled.
# Setting type: Single
# Default value: 0.01
Desperado Persist - Damage Multiplier = 0.01

## Backstabs minicrit for 50% bonus damage and crit chance is converted to crit damage.
# Setting type: Boolean
# Default value: true
Backstab Changes = true

## Hemmorrhage damage has a low proc coefficient.
# Setting type: Boolean
# Default value: true
Hemmorrhage - Enable Procs = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Burst Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Blast Changes = true

## Knife skills can be used without interrupting your reload.
# Setting type: Boolean
# Default value: true
Knife While Reloading = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Serrated Dagger Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Serrated Shiv Changes = true

## Fixes various bugs with Smokebomb.
# Setting type: Boolean
# Default value: true
Smokebomb Fix = true

## Makes Resets/Desperado a selectable passive and adds a new Special skill.
# Setting type: Boolean
# Default value: true
Special Rework = true

[Survivors: Captain]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Defensive Microbots no longer deletes stationary projectiles like gas clouds and Void Reaver mortars.
# Setting type: Boolean
# Default value: true
Defensive Microbots Nerf = true

## Defensive Microbots scale with drone count instead of attack speed.
# Setting type: Boolean
# Default value: true
Defensive Microbots Drone Scaling = true

## Enable primary skill changes for this survivor.
# Setting type: Boolean
# Default value: true
Enable Primary Skill Changes = true

## Vulcan Shotgun gains extra pellets with attack speed.
# Setting type: Boolean
# Default value: true
Enable Primary Skill Changes - Scale Pellets with Attackspeed = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Power Taser Changes = true

## Ammopacks only restore half of Diablo Strike's charge. Intended for use with Beacon: Resupply changes.
# Setting type: Boolean
# Default value: true
Diablo Strike Ammopack Nerf = true

## Increases Diablo Strike's proc coefficient.
# Setting type: Boolean
# Default value: true
Diablo Strike Proc Coeficient = true

## Diablo Strike only hurts yourself instead of all teammates.
# Setting type: Boolean
# Default value: false
Diablo Strike Disable Friendly Fire = false

## Allow this beacon to be re-used on a cooldown.
# Setting type: Boolean
# Default value: true
Beacon: Healing - Enable Cooldown = true

## Allow this beacon to be re-used on a cooldown.
# Setting type: Boolean
# Default value: false
Beacon: Hack - Enable Cooldown = false

## Enable changes to the effect of this beacon.
# Setting type: Boolean
# Default value: false
Beacon: Hack - Enable Changes = false

## Removes this Beacon from the game.
# Setting type: Boolean
# Default value: false
Beacon: Hack - Disable = false

## Allow this beacon to be re-used on a cooldown.
# Setting type: Boolean
# Default value: true
Beacon: Shocking - Enable Cooldown = true

## Enable changes to the effect of this beacon.
# Setting type: Boolean
# Default value: true
Beacon: Shocking - Enable Changes = true

## Allow this beacon to be re-used on a cooldown.
# Setting type: Boolean
# Default value: true
Beacon: Resupply - Enable Cooldown = true

## Enable changes to the effect of this beacon.
# Setting type: Boolean
# Default value: true
Beacon: Resupply - Enable Changes = true

## Beacons can be replaced on a cooldown and reworks Supply and Hack beacons. Disabling this disables all beacon-related changes.
# Setting type: Boolean
# Default value: true
Beacon Changes = true

## If Beacon Changes are enabled, allow stocks to be infinitely increased with Lysate Cells.
# Setting type: Boolean
# Default value: false
Beacon Changes - Infinite Lysate Cell Stacking = false

[Survivors: Commando]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Phase Round Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Tactical Dive Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Suppressive Fire Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Frag Grenade Changes = true

## Remove blast falloff from Frag Grenade. Requires Frag Grenade Changes = true.
# Setting type: Boolean
# Default value: true
Frag Grenade - Remove Falloff = true

## Adds a new secondary skill.
# Setting type: Boolean
# Default value: true
Phase Lightning Secondary Skill = true

## Removes Phase Round and replaces it with this skill.
# Setting type: Boolean
# Default value: false
Phase Lightning - Replace Default = false

## Adds a new special skill.
# Setting type: Boolean
# Default value: true
Shrapnel Barrage Special Skill = true

## Removes Suppressive Fire and replaces it with this skill.
# Setting type: Boolean
# Default value: false
Shrapnel Barrage - Replace Default = false

[Survivors: Engineer]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Pressure Mines only detonate when fully armed.
# Setting type: Boolean
# Default value: true
Pressure Mine Changes = true

## Increases Thermal Harpoon targeting range.
# Setting type: Boolean
# Default value: true
Thermal Harpoon Changes = true

## Reduces Turret base damage to 12 while keeping damage output the same.
# Setting type: Boolean
# Default value: true
Normalize Turret Stats = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Bubble Shield Changes = true

[Survivors: Huntress]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Strafe Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Flurry Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Laser Glaive Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Blink Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Arrow Rain Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Ballista Changes = true

[Survivors: Loader]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Enable base stat changes for this survivor.
# Setting type: Boolean
# Default value: true
Modify Base Stats = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Thunder Gauntlet Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Thunderslam Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
M551 Pylon Changes = true

[Survivors: Mercenary]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Buff the damage of this skill.
# Setting type: Boolean
# Default value: true
Blinding Assault Changes = true

[Survivors: MUL-T]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Rebar Puncher Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Scrap Launcher Changes = true

## Makes Power Saw physics more consistent.
# Setting type: Boolean
# Default value: true
Power Saw Physics Changes = true

## Increases Power Saw hitbox size by 50%.
# Setting type: Boolean
# Default value: true
Power Saw Hitbox Changes = true

## Power Saw gives barrier-on-hit.
# Setting type: Boolean
# Default value: true
Power Saw Barrier On Hit = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Blast Canister Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Power Mode Changes = true

[Survivors: REX]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
DIRECTIVE Drill Changes = true

## DIRECTIVE Disperse heals for 5% HP per target hit.
# Setting type: Boolean
# Default value: true
DIRECTIVE Disperse Healing = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
DIRECTIVE Harvest Changes = true

## Fruiting enemies have a chance to drop fruits when hit.
# Setting type: Boolean
# Default value: false
DIRECTIVE Harvest - Fruit On Hit = false

[Survivors: Seeker]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Seeker no longer gains a self-revive at 7 meditate stacks.
# Setting type: Boolean
# Default value: true
No Self Revive = true

## Unseen Hand scales damage instead of healing.
# Setting type: Boolean
# Default value: true
Unseen Hand scales damage. = true

[Survivors: Void Fiend]

## Enable changes to this survivor.
# Setting type: Boolean
# Default value: true
Enable Changes = true

## Gain Corruption on kill. Lowers passive Corruption gain and Corrupted form duration.
# Setting type: Boolean
# Default value: true
Corruption on Kill = true

## Faster decay, slower passive buildup. Corrupted Suppress can be used as long as you have the HP for it. Meant to be used with Corrupt on Kill.
# Setting type: Boolean
# Default value: true
Corruption Meter Tweaks = true

## Disables Corruption gain on crit.
# Setting type: Boolean
# Default value: true
No Corruption on Crit = true

## Disables Corruption loss on heal.
# Setting type: Boolean
# Default value: true
No Corruption loss on Heal = true

## Disables bonus armor while Corrupted.
# Setting type: Boolean
# Default value: true
No Corrupt Mode Bonus Armor = true

## Drown and Suppress can be fired while charging Flood.
# Setting type: Boolean
# Default value: true
Secondary Multitasking = true

## Enable changes to this skill.
# Setting type: Boolean
# Default value: true
Trespass Changes = true

